@font-face {
  font-family: Metropolis;
  src: url("/asset/Metropolis_Font_Family_\(Fontmirror\)/Metropolis-Regular 400.otf");
}

/* Navbar */
div#navbarSupportedContent {
  justify-content: space-between;
}

nav {
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

nav.navbar .container .navbar-brand {
  display: flex;
  font-family: Metropolis;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #db3022;
  margin-right: 80px;
}

.navbar-brand span {
  height: 100%;
  padding-top: 18px !important;
  margin-left: 5px;
}

.navbar-brand img {
  height: 44px;
  width: 31px;
}

ul.navbar-nav.ml-auto.mb-2.mb-lg-0 {
  align-items: center;
  margin-left: auto;
}

ul li a.navbars {
  margin-left: 43px;
}

ul.navbar-nav.ml-auto.mb-2.mb-lg-0 li img.cart {
  height: 15px;
  width: 22px;
  border-radius: 0px;
  margin-right: 20px;
}

ul li a.nav-link {
  padding-left: 0;
}

ul li a img.profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* Main */
main {
  display: flex;
}

/* Aside */
aside {
  width: 390px;
  background: #fff;
  padding-left: 150px;
  padding-top: 150px;
}

.profile {
  display: flex;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 70px;
}

span.name {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 5px;
}

a.edit {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
  text-decoration: none;
  cursor: pointer;
}

ul.menus {
  list-style: none;
  padding: unset;
}

ul.menus li {
  margin-bottom: 20px;
}

a.dropdown-item,
ul.menus li a {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  color: #222222 !important;
}

ul.menus li a span {
  margin-left: 15px;
}

a.nav-link.dropdown-toggle span:hover,
a.nav-link.dropdown-toggle span,
a.nav-link.dropdown-toggle.show span {
  color: #9b9b9b;
}

/* Content */
.content {
  width: calc(100% - 270px);
  min-height: 100%;
  background: #f5f5f5;
  padding-top: 150px;
  padding-left: 45px;
}

.content .inventory,
.content .item-details,
.content .photo-of-goods,
.content .description {
  width: 850px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 30px;
}

.content .button-submit {
  width: 850px;
  box-sizing: border-box;
}

.upload-images {
  border: 1px dashed #d4d4d4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 30px 20px;
  text-align: center;
}

button.upload {
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  border-radius: 24px;
  background: transparent;
  width: 160px;
  height: 36px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #9b9b9b;
}

img.upload {
  background: #d4d4d4;
  border-radius: 4px;
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

img.upload.utama {
  width: 190px;
  height: 190px;
}

/* Dropdown sidebar */
ul.dropdown-menu.show {
  padding: 0;
  border: 0;
}

ul.dropdown-menu.show li {
  margin-bottom: 0;
}

ul.dropdown-menu.show li a.a.dropdown-item {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}

a.dropdown-item.active {
  background: transparent;
}

button.submit {
  background: #db3022;
  border-radius: 25px;
  width: 128px;
  height: 48px;
  border: 0;
  color: #fff;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
}

label,
.item-details span {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
  margin-right: 20px;
}

input {
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
  margin-bottom: 15px;
}

form h5 {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}

span.image {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}

@media (min-width: 992px) {
  .collapse.navbar-asside {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
  }

  .navbar-collapse {
    background-color: #fff;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1rem;
  }

  ul.navbar-nav.ml-auto.mb-2.mb-lg-0 li {
    margin-top: 10px;
  }

  ul li a.nav-link {
    margin-left: 0;
  }

  ul.navbar-nav.ml-auto.mb-2.mb-lg-0 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar-asside {
    border: unset;
  }

  .navbar-asside:focus {
    box-shadow: unset;
  }

  .navbar-asside img {
    width: 45px;
    border-radius: 50%;
  }

  aside {
    display: none;
  }

  .content {
    width: 100%;
    background: #f5f5f5;
    padding-top: 90px;
    min-height: 100vh;
    padding-left: 0;
    padding-bottom: 20px;
  }

  .content .inventory,
  .content .item-details,
  .content .photo-of-goods,
  .content .description {
    width: 90%;
    padding: 15px;
    margin: auto;
    height: unset;
    margin-bottom: 10px;
  }

  .content .button-submit {
    width: 90%;
    margin: auto;
    height: unset;
  }

  button.submit {
    height: 30px;
    width: 100px;
  }

  img.upload {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  
  img.upload.utama {
    width: 70px;
    height: 70px;
  }

  span.image {
    font-size: 10px;
    line-height: 24px;
  }

  form h5 {
    font-size: 18px;
  }

  label {
    font-size: 10px;
  }
}
